*{
    margin: 0px
    box-sizing: border-box;


}
body{
    background-color: navy;

}
header{
    background-color: red;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    border-radius: 20px;
    

}
#wrapper{
    width: 970px;
    margin: 0px auto;

}

#sidehoe{
    background-color: rgb(78, 212, 212);
    color: white;
    display: inline-block;
    border-radius: 15px;
    font-size: x-small;
    padding: 20px;
    height: 200px;
    margin: 4px;
    line-height: 4px;


}
main{
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: top;
    padding:10px;
    margin: 10px;
    font-size: small;
    width: 74%;
}
#info{
    background-color: black;
    color: white;
    

}
footer{
    background-color: gray;
    width: 80%;
    color: white;
    display: inline-block;
    border-radius: 25px;
    font-size: x-small;
    margin-top: 10px;
}
a{
    color: white;
}
